@font-face{
	font-family: deftone;
	src: url("../fonts/deftone-stylus.ttf");
}

body {
    padding-top: 70px;
    padding-bottom:0px;
}

footer {
    bottom: 0;
    height: 40px;
    margin-top: 10px;
    width: 100%;
}

textarea{
    resize:vertical;
}

.text-footer {
    color: white;
    padding-top: 10px;
}

.navbar-brand{
	font-size: 23px;
	font-family: deftone;
}

.deftone-font{
	font-family: deftone;
}

.advertisement{
	overflow-x:auto; 
	max-height:400px;
}

.search-town{
	overflow-x:auto;
	max-height:200px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}


iframe.anuncio{
    display:block;
    width:100%;
    height:100%;
    vertical-align: middle;
}

#chat-messages{
    max-height:400px;
    overflow:auto;
    width:300px;
    min-height:50px;
    border-style: solid;
    border-color:#ccc;
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 5px;
    padding:3px;
}

#chat-box{
    padding:15px 15px 15px 15px;
}